div {
  display: block;
}

html, body {
    height: 100%;
  }

body {
    background-color: #2e3441;
    color: #e5e9f0;
    font-family: Inconsolata;
    overflow-y:hidden;
    overflow-x:hidden;
  }

.charts {
  background: #353c4b;
}

#board_render{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#altimeter {
    position: absolute;
    top: 50px;
    right: 120px;
}

.container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.row-filled {
  height:20%;
  overflow: hidden;
}

div.smoothie-chart-tooltip {
  background: #444;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: white;
  font-size: 10px;
  pointer-events: none;
}


div{
    display: block;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #navball {
    position: fixed;
    bottom: -10vh;
    margin:0;
    padding:0;
  }

  #indicator {
  	position: absolute;
  	width: 40px;
  	top: 130px;
  	left: 130px;
  }

  /*Gauge shit*/
  #altimeter {
    position: absolute;
    top: 50px;
    right: 120px;
}

/*
  #gauge_accelx{
      padding: 0px;
      float: left;
      margin-left: 30px;
  }
  #gauge_accely{
      padding: 0px;
      margin-right: 30px;
      float: right;
  }
  #gauge_accelz{
      padding: 0px;
      margin: auto;
  }
*/

#gauge_accelx .epoch .gauge .arc.outer {
    stroke-width: 3px;
    stroke: #e5e9f0;
}
#gauge_accelx .epoch .gauge .arc.inner {
    stroke-width: 1px;
    stroke: #e5e9f0;
}
#gauge_accelx .epoch .gauge .tick {
    stroke-width: 1px;
    stroke: #e5e9f0;
}
#gauge_accelx .epoch .gauge .needle {
    fill: #c16069;
}
#gauge_accelx .epoch .gauge .needle-base {
    fill: #c16069;
}


#gauge_accely .epoch .gauge .arc.outer {
  stroke-width: 3px;
  stroke: #e5e9f0;
}
#gauge_accely .epoch .gauge .arc.inner {
  stroke-width: 1px;
  stroke: #e5e9f0;
}
#gauge_accely .epoch .gauge .tick {
  stroke-width: 1px;
  stroke: #e5e9f0;
}
#gauge_accely .epoch .gauge .needle {
  fill: #c16069;
}
#gauge_accely .epoch .gauge .needle-base {
  fill: #c16069;
}




#gauge_accelz .epoch .gauge .arc.outer {
  stroke-width: 3px;
  stroke: #e5e9f0;
}
#gauge_accelz .epoch .gauge .arc.inner {
  stroke-width: 1px;
  stroke: #e5e9f0;
}
#gauge_accelz .epoch .gauge .tick {
  stroke-width: 1px;
  stroke: #e5e9f0;
}
#gauge_accelz .epoch .gauge .needle {
  fill: #c16069;

}
#gauge_accelz .epoch .gauge .needle-base {
  fill: #c16069;
}
